<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.drkhannah.concerts">

    <!-- READ and WRITE permissions for ConcertsProvider-->
    <permission android:name="com.drkhannah.concerts.provider.READ"/>
    <permission android:name="com.drkhannah.concerts.provider.WRITE"/>

    <!-- Allows READING and WRITING to the ConcertsProvider-->
    <uses-permission android:name="com.drkhannah.concerts.provider.READ"/>
    <uses-permission android:name="com.drkhannah.concerts.provider.WRITE"/>

    <!-- Allows applications to open network sockets.-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Allows applications to access information about networks-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ConcertDetailActivity"
            android:label="@string/concert_details_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ArtistSearchActivity"
            android:label="@string/artist_search_activity_title"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible">
        </activity>

        <provider
            android:authorities="@string/content_authority"
            android:name=".data.ConcertsProvider"
            android:exported="true"
            android:readPermission="com.drkhannah.concerts.provider.READ"
            android:writePermission="com.drkhannah.concerts.provider.WRITE"/>

    </application>

</manifest>